////// --- UTILS --- //////

// === VARIABLES ===

// colorbook
$primary: hsl(225, 80%, 65%);

$dark: hsl(225, 10%, 10%);
$neutro: hsl(225, 10%, 50%);
$light: hsl(225, 10%, 95%);

// effects
$shadow: hsla(225, 10%, 10%, .2);
$main-radius: .25rem;
$main-opacity: .5;

// spacing
$main-pad: 1.875rem;
$sub-pad: 1.25rem;
$min-pad: 0.625rem;

// typography
$t-heading: 1.875rem;
$t-base: 1rem;
$t-min: 0.875rem;

// sizing
$ADDRESS_BAR: 6rem; // 96px
$MAX_WIDTH: 72.5rem;
$SECTION_WIDTH: 43.4rem;
$INPUT_WIDTH: 7rem;
$PRODUCT_SIZE: 3.125rem;
$BUTTON_WIDTH: 9.5rem;

// breakpoints
$switch: 56.25rem; // ~900px
$mobile: 31.5rem;

// === FUNCTIONS ===

// === MIXINS ===

// media queries
@mixin layout-switch {
  @media screen and (max-width: $switch) {
    @content;
  }
}

@mixin for-mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

// === PLACEHOLDERS ===

// === UTILS ===
.visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  // for IE6/7
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

////// --- BASE --- //////

// === RESET ===
body, ul, h1, h2, fieldset, input {
  margin: 0;
}

button, ul, fieldset {
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

// === MAIN ===

////// --- COMPONENTS --- //////

// === NAV ===
.nav {

  &__list {
    display: flex;

    @include for-mobile {
      height: 3rem;
      flex-wrap: wrap;
    }
  }

  &__link {
    &:link,
    &:visited {
      margin-right: .5em;
      color: $neutro;
      font-size: $t-min;
      text-decoration: none;
      white-space: nowrap;

      transition: opacity 250ms ease-in-out;
    }

    &:hover {
      opacity: .8;
    }

    // decorative '-' after each element
    &::after {
      content: '-';
      display: inline-block;
    }
  }
}

// === CARD ===
.card {
  padding: $main-pad;
  border-radius: $main-radius;
  box-shadow: 0 .25rem.5rem $shadow;

  &--reduced {
    padding: $main-pad $main-pad 0 $main-pad;
  }

  &__heading {
    margin-bottom: $main-pad;
    font-size: $t-heading;
    font-weight: 700;

    @include for-mobile {
      font-size: 1.5rem;
    }
  }

  &__payment {
    display: grid;
    grid-template-columns: 1fr $INPUT_WIDTH $INPUT_WIDTH;
    gap: $sub-pad;

    @include for-mobile {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__field {
    border: none;

    &--max {
      grid-column: 1 / -1;
    }

    &--mobile-max {
      @include for-mobile {
        grid-column: 1 / -1;
      }
    }
  }
}

// === INPUT ===
.input {
  &__label {
    display: block;
    margin-bottom: $min-pad;
    color: $neutro;
    font-size: $t-min;
  }

  &__text {
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
    border: 1px solid $neutro;
    border-radius: $main-radius;
    font-size: $t-base;

    opacity: $main-opacity;

    &:focus {
      opacity: 1;
    }
  }
}

// === RADIO ===
.radio {

  &__wrapper {
    padding: $sub-pad 0;

    &:not(:last-child) {
      border-bottom: 1px solid $shadow;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    height: 1.5rem;
    display: flex;
    align-items: center;

    position: relative;

    &::before {
      $size: 1.5rem;
      flex-shrink: 0;
      content: '';
      display: block;
      width: $size;
      height: $size;
      margin-right: 1rem;
      border: 2px solid $shadow;
      border-radius: 50%;
    }

    &::after {
      $size: 1rem;
      content: '';
      display: block;
      position: absolute;
      top: .25rem;
      left: .4rem;
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: $primary;

      transform: scale(0);
    }
  }

  &__input:checked + &__label {
    &::after {
      transition: transform 250ms ease-in-out;
      transform: scale(1);
    }
  }
}

// === CART ===
.cart {
  &__item {
    padding-bottom: $sub-pad;
    border-bottom: 1px solid $shadow;

    display: flex;
    align-items: center;

    &--subtotal {
      padding-top: $sub-pad;
      padding-bottom: $min-pad;
      border-bottom: none;
    }

    &--total {
      padding-top: $sub-pad;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__product {
    $size: $PRODUCT_SIZE;
    width: $size;
    height: $size;
    box-sizing: border-box;
    margin-right: 1rem;
    padding: .5rem;
    border: 1px solid $shadow;
    border-radius: $main-radius;

    display: flex;
    align-items: center;

    position: relative;
  }

  &__image {
    width: 100%;
  }

  &__quantity {
    $size: 1.25rem;
    position: absolute;
    top: - $size / 2;
    right: - $size / 2;

    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $primary;
    color: $light;
    font-size: $t-min;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {

  }

  &__price {
    margin-left: auto;
    font-weight: 700;
  }
}

////// --- LAYOUT --- //////
body {
  background-color: $light;
  color: $dark;
  font-family: Roboto, sans-serif;

  display: flex;
  justify-content: center;
}

.main {
  width: $MAX_WIDTH;
  max-width: 100%;
  min-height: calc(100vh - #{$ADDRESS_BAR});
  box-sizing: border-box;
  padding: 1rem;

  &__header {
    margin-bottom: $main-pad;

    display: flex;
    align-items: center;

    @include for-mobile {
      flex-wrap: wrap;
    }
  }

  &__title {
    font-size: $t-min;
    font-weight: 700;
  }

  &__sections {
    display: grid;
    grid-template-columns: minmax(50%, $SECTION_WIDTH) minmax(40%, 1fr);
    gap: $main-pad;

    @include layout-switch {
      grid-template-columns: 1fr;
    }
  }

  &__cart {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    @include layout-switch {
      grid-column: 1 / -1;
    }
  }

  &__controls {
    grid-row: 3 / 4;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include layout-switch {
      grid-row: 4 / 5;
    }
  }

  &__link {
    margin-right: 1rem;
    color: $primary;
    font-size: $t-base;
    font-weight: 400;
    text-decoration: none;

    transition: opacity 250ms ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

  &__button {
    width: $BUTTON_WIDTH;
    padding: $min-pad;
    border: none;
    border-radius: $main-radius;
    background-color: $primary;
    color: $light;
    font-size: $t-base;
    font-weight: 700;
    white-space: nowrap;

    transition: opacity 250ms ease-in-out;

    &:hover {
      opacity: .8;
    }
  }
}

////// --- PAGES --- //////

////// --- THEMES --- //////