////// --- UTILS --- //////

// === VARIABLES ===

// colorbook
$primary: hsl(230, 30%, 40%);
$accent: hsl(205, 70%, 60%);

$light: hsl(230, 10%, 95%);
$o-light: hsla(230, 10%, 95%, .5);

$green: hsl(145, 65%, 50%);
$purple: hsl(285, 40%, 55%);
$yellow: hsl(40, 90%, 50%);
$blue: hsl(205, 70%, 60%);

// effects
$shadow: hsla(230, 10%, 10%, .5);
$main-radius: .25rem;

// spacing
$ADDRESS_BAR: 6rem; // 96px
$MIN_TOUCH_SIZE: 2.75rem; // 44px
$main-pad: 1.25rem;
$bar-pad: 1.75rem;
$info-pad: 1.125rem;
$sub-pad: .625rem;

// breakpoints
$mobile: 30rem;

// === FUNCTIONS ===

// === MIXINS ===
@mixin for-mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

// === PLACEHOLDERS ===

// === UTILS ===
.visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  // for IE6/7
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

////// --- BASE --- //////

// === RESET ===
body, p, ol, ul {
  margin: 0;
}

ol, ul {
  padding: 0;
  list-style-type: none;
}

abbr {
  text-decoration: none;
}

// === MAIN ===

////// --- COMPONENTS --- //////

// === CARD ===
.card {
  width: 27.5rem;
  min-height: 22.5rem;
  border-radius: $main-radius;
  background-color: $primary;
  box-shadow: 0 .25rem .5rem $shadow;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  @include for-mobile {
    justify-content: center;
  }

  &__monthly {
    width: 100%;
    padding-top: $main-pad;
  }

  &__pie {
    padding: $main-pad;
  }

  &__info {
    width: 15rem;
    max-width: 100%;
    padding: $main-pad;

    @include for-mobile {
      width: 100%;
    }
  }
}

// === CHART ===
.chart {
  $t-month: 1rem;
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
  }

  &__bar {
    $bottom-pad: $sub-pad * 2 + ($t-month * 1.2);
    display: block;
    width: 1.125rem;
    height: 7.5rem;
    margin: 0 $bar-pad / 2 $bottom-pad $bar-pad / 2;
    border-radius: $main-radius;
    background-color: $o-light;

    // initial
    transform-origin: bottom;
    transform: scaleY(0);

    &--current {
      background-color: $accent;
    }

    &--100 {
      transform: scaleY(1);
    }
    &--90 {
      transform: scaleY(.9);
    }
    &--80 {
      transform: scaleY(.8);
    }
    &--70 {
      transform: scaleY(.7);
    }
    &--60 {
      transform: scaleY(.6);
    }
    &--50 {
      transform: scaleY(.5);
    }
    &--40 {
      transform: scaleY(.4);
    }
    &--30 {
      transform: scaleY(.3);
    }
    &--20 {
      transform: scaleY(.2);
    }
    &--10 {
      transform: scaleY(.1);
    }
    &--0 {
      transform: scaleY(0);
    }
  }

  &__month {
    position: absolute;
    bottom: 0;
    margin-bottom: $sub-pad;
    font-size: $t-month;
    font-weight: 400;
  }
}

// === PIE ===
.pie {
  $size: 7rem;
  width: $size;
  height: $size;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &__total {
    $size: 85%;
    position: absolute;
    width: $size;
    height: $size;
    background-color: $primary;
    border-radius: 50%;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  // contains segments
  &__list {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $accent;
    
    overflow: hidden;
    position: relative;
  }
  
  &__segment {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    transform: translate(0, -50%) rotate(90deg) rotate(0deg);
    transform-origin: 50% 100%;

    // actual colored segment
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;

      transform-origin: 50% 0;
    }

    &--green {
      &::before {
        background-color: $green;
      }
    }
    &--purple {
      &::before {
        background-color: $purple;
      }
    }
    &--yellow {
      &::before {
        background-color: $yellow;
      }
    }
    &--blue {
      &::before {
        background-color: $blue;
      }
    }

    &--110deg {
      &::before {
        transform: translate(0, 100%) rotate(110deg);
      }
    }

    &--220deg {
      &::before {
        transform: translate(0, 100%) rotate(220deg);
      }
    }

    &--360deg {
      &::before {
        transform: translate(0, 100%) rotate(360deg);
      }
    }
  }
}

// === INFO ===
.info {
  &:not(:last-child) {
    margin-bottom: $info-pad;
  }

  &__key {
    margin-right: 1em;
  }

  &__value {
    font-weight: 700;
  }
}

////// --- LAYOUT --- //////
body {
  background-color: $light;
  color: $light;
  font-family: Roboto, sans-serif;
}

.main {
  width: 100%;
  min-height: calc(100vh - #{$ADDRESS_BAR});
  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

////// --- PAGES --- //////

////// --- THEMES --- //////